<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMattelsa" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58457/MattelsaService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMattelsa"
                contract="MattelsaService.IMattelsa" name="BasicHttpBinding_IMattelsa" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="DatabaseFile" value="\DB\Mattelsa.db"/>
  </appSettings>
</configuration>